.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loadMoreButton {
  border: none;
  background-color: #4b6bfb;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 400px;
  height: 48px;
  border-radius: 6px;
  margin-bottom: 64px;
}

.filter {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--stroke-color);
  color: var(--color);
}

.reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 12px 24px;
  background-color: var(--color);
  border-radius: 6px;
  color: var(--stroke-color);
}

.active {
  background-color: #4b6bfb;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .filter {
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .filter {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .filter::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .reset {
    text-wrap: nowrap;
  }
}
